{% extends 'base/base.html' %}
{% load static %}
{% block contenido %}


<!-- PRODUCTOS -->
    <div class="contenedor-departamentos">
        <h2 class="border-bottom my-5">Alquileres en Buenos Aires</h2>

        <div class="grid">

            {% for i in departamentos %}            
                <div class="departamentos">
                    <a href={% url 'Departamento' i.id %}>
                        <img src="{{ i.imagenes.first.imagen.url }}" class="card-img-top rounded" alt="Depto">
                    
                        <div class="card-body">
                            <h5 class="text-dark mt-2 mb-0">{{ i.titulo1 }} | {{ i.barrio }}</h5>
                            <p class="card-text text-dark fw-lighter mb-4">{{ i.descripcion1 }}</p>                                       
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container col-6 my-5">
        <div>
            {{ map | safe }}
        </div>
    </div>

{%endblock%}